@tailwind base;
@tailwind components;
@tailwind utilities;

.drop-btn{
    position: absolute;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    bottom: -25px; 
}

.drop-btn button {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
}

.text-boxs{
    width: 30vw;
    min-width: 300px;
}
